#mytooltip{
  position:absolute;
  border:1px solid #333;
  background:#7ec4ff;
  padding:10px;
  color:#333;
  display:none;
  z-index:99999;
  box-shadow: 10px 10px 5px #c1c1c1;
  word-wrap:break-word;
}

#dividing{
	border:0px;
	background-color:#aeaeae;
	height:2px;
}