#downloadDiv{
  position:absolute;
  border:1px solid #d3d3d3;
  background:#ffffff;
  padding:0px;
  color:#000000;
  display:none;
  z-index:99999;
  box-shadow: 2px 2px 2px #d3d3d3;
  word-wrap:break-word;
}